/* Estilos generales del documento */
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    padding: 0;
}
#logo{
    background-image: url("../img/animal-photography-daylight-elephant-247431.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
    height: 90vh;
}
.fixed{
    position:fixed; 
    top:0;
    width: 100%;
}
div.contenedor{
    width: 90%;
    margin: 0 auto;
}
/* Navegacion */
.navegacion{
    background: #eb4d4b;
}
nav{
    width: 90%;
    margin: 0 auto;
    position: relative;/* EL padre debe tener posicion relative para poder usar position absolute */
}
nav ul{
    list-style: none;
}
nav > ul > li{ /* Seleccionando el primer nivel de ul y li */
    float: left;
}
nav ul::after{ /* Limpiando el float */
    content: '';
    display: block;
    clear: both;
}
nav ul li a{
    display: inline-block; /* Permite definir el ancho en linea */
    width: 200px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 22px;
}
nav ul li a:hover{
    background-color: #22a6b3;
}
/* Navegacion segundo nivel */
nav ul ul{
    position: absolute;
    top: 100%;
    background-color: rgb(0, 184, 228);
    display: none;
}
nav ul li:hover > ul{ /* Muestra al primer elemento ul hijo */
    display: block;
}
nav ul li:hover{
    background-color: rgb(0, 184, 228);
}
/* Contenido principal */
div.contenido::after{ /* Limpiando el float */
    content: '';
    display: block;
    clear: both;
}
main{
    width: 70%;
    float: left;
    padding-right: 35px;
}
/* Posts */
article{
    margin-top: 30px;
}
h2{
    color: #686de0;
    margin-bottom: 25px;
}
article img{
    float: left;
    width: 300px;
    margin-right: 30px;
}
article p{
    line-height: 2;
    text-align: justify;
}
.button{
    background-color: #22a6b3;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
aside{
    float: right;
    width: 30%;
    margin-top: 20px;
}
aside ul{
    list-style: none;
}
aside ul li{
    padding: 10px 0 10px 10px;
}
aside ul li:hover{
    background-color: #22a6b3;
    cursor: pointer;
}
aside ul li a{
    color: #00b8e0;
    text-decoration: none;
}
aside ul li:hover a{
    color: #ffffff;
}
/* Footer */
footer {
    background-color: #eb4d4b;
    padding-top: 40px;
    margin-top:30px;
  }
  
  footer h2 {
    color: white;
  }
  footer .contenedor::after {
    content: '';
    display: block;
    clear: both;
  }
  footer .nosotros {
    float: left;
    width: 50%;
    color: white;
  }
  footer .menu {
    float: right;
    width: 40%;
    text-align: right;
  }
  footer nav {
    width: auto;
  }
  footer nav a {
    color: white;
    text-decoration: none;
  }
  p.copyright {
      margin-top: 15px;
    padding: 20px 0;
    text-align: center;
    color: white;
  }